# This is Git's per-user configuration file.
[user]
	name = Paul Mayer
	email = p@mayer-zuffenhausen.de
[core]
        editor = vim
[commit]
	gpgsign = true
[alias]
co = checkout
lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
unstage = reset HEAD --
last = log -1 HEAD

[init]
	defaultBranch = master
[pull]
	rebase = true
