# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Paul Mayer
	email = p@mayer-zuffenhausen.de
	signingkey = 225B0058823CBF6E
[commit]
	gpgsign = true
